<ion-header>
  <ion-toolbar>

    <!-- HAMBURGER MENU BUTTON -->
    <ion-buttons slot="start" contentId="main">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Discover New Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ION-SEGMENT ALLOWS TO ADD SEGMENTED BUTTONS WHERE ONLY ONE CAN BE ACTIVE AT A TIME -->
  <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="!relevantPlaces || relevantPlaces.length <= 0">
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="2" class="ion-text-center">
        <p class="segment-alert">There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="relevantPlaces.length > 0">

    <!-- FEATURED PLACE -->
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="card-title">{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ relevantPlaces[0].price | currency:'NGN':'symbol-narrow' }} / Night</ion-card-subtitle>
          </ion-card-header>

          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>

          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <!-- routerDirection is ionic based nad tells the browser ch animation to play forward or backward -->
            <ion-button fill="clear" color="primary" [routerLink]="[
              '/', 
              'places', 
              'tabs', 
              'discover', 
              relevantPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- OTHER CARDS -->
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="2" class="ion-text-center">
        <!-- check the browser to inspect the height of an item to enable the scrolling -->
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="72px">
          <!-- we output all places except featured by using slice to start from index 1 after the first element -->
          <!-- *ngFor="let place of loadedPlaces.slice(1)" -->
          <ion-item 
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
            detail 
            *virtualItem="let place"
            >

            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>

            <ion-label class="my-label-test">
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>

          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
