.ios ion-segment-button {

    --color: var(--ion-color-primary);
    margin-top: 7px;
    margin-bottom: 7px;
}

.card-title {

    color: var(--ion-color-primary);
}

.my-label-test {

    h2 {

        color: var(--ion-color-primary);
    }
}

.ionicon-fill-none {
    fill: none;
}

.segment-alert {

    color: var(--ion-color-primary);
    font-size: .8rem;
}
