<div class="picker">
  <!-- add a spinner before location preview loads -->
  <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>

  <!-- show location image preview -->
  <!-- we only show the preview IF the image only exist -->
  <!-- adding onPickLocation() allows us to change our location if we change our mind -->
  <ion-img 
    class="location-image" 
    [src]="selectedLocationImage" 
    *ngIf="selectedLocationImage && !isLoading"
    role="button"
    (click)="onPickLocation()"
  ></ion-img>

  <ion-button color="primary" (click)="onPickLocation()" *ngIf="!selectedLocationImage && !isLoading">
    <ion-icon name="map-outline" slot="start"></ion-icon>
    <ion-label>Select location</ion-label>
  </ion-button>
</div>
