.map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 15ms ease-in;
    -webkit-transition: opacity 15ms ease-in;
    -moz-transition: opacity 15ms ease-in;
    -ms-transition: opacity 15ms ease-in;
    -o-transition: opacity 15ms ease-in;
}

.map.visible {
    opacity: 1;
}