<ion-app>
  <!-- SIDEBARS TAKE THE ION HEADER AND CONTENT COMPONENTS -->
  <ion-menu side="start">

    <ion-header>

      <ion-toolbar>
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content>
      <ion-list>

        <ion-item lines="none">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Your Bookings</ion-label>
        </ion-item>
        
        <ion-item lines="none">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- APP ROUTER OUTLET takes the "main" attribute which is ued to toggle the sidebar -->
  <ion-router-outlet main></ion-router-outlet>

</ion-app>
