<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-margin ion-text-center">{{ selectedPlace.description }}</h1>
  <h1 class="ion-margin ion-text-center">{{ selectedPlace.price }}</h1>

  <div class="ion-text-center">
    <ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>
  </div>
</ion-content>
