h1 {
    font-size: 1.125rem;
    padding-bottom: 8px;
    // border: 1px solid var(--ion-color-primary);
    // padding: 8px;
    // border-radius: 5px;
    // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    // -ms-border-radius: 5px;
    // -o-border-radius: 5px;
    color: var(--ion-color-primary);
}

.offer-detail {

    display: flex;
    align-items: center;

    .space-left {

        margin-left: 6px;
    }
}
