h1 {
    font-size: 1.125rem;
    padding-bottom: 8px;
    color: var(--ion-color-primary);
}

.offer-detail {

    display: flex;
    align-items: center;

    .space-left {

        margin-left: 6px;
    }

    .span-date {

        color: var(--ion-color-dark-tint);
    }
}
